.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-image: url(../images/background_header.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  left: -50px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 548px;
  right: 5px;
  top: 124px;
  z-index: 0;
}

.header__title {
  max-width: 729px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  z-index: 1;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
}
.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 100px 0 0 80px;
}
.recipes__subtitle {
  margin: 24px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}
.recipes__subtitle-space {
  display: block;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 80px 0 215px;
}
.recipes__video-caption {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.recipes__iframe {
  border: 0;
  width: 480px;
  height: 273px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reservation__title {
  margin: 100px 0px 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reservation__form {
  margin-bottom: 120px;
}
.form__input {
  border-radius: 4px;
  max-width: 385px;
  height: 60px;
  width: 385px;
  margin-bottom: 32px;
  box-sizing: border-box;
  padding-left: 15px;
}

.form__input::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}
.form__label {
  align-self: flex-start;
  margin-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__checkbox-label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button {
  box-sizing: border-box;
  height: 60px;
  width: 385px;
  max-width: 385px;
  border-radius: 4px;
  opacity: 1;
  color: white;
  background-color: #2f80ed;
  transition: opacity 0.3s ease;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__button:hover {
  opacity: 0.7;
}
.form__checkbox {
  border-radius: 2px;
  background-image: url("../images/check.svg");
  background-color: #2f80ed;
  width: 20px;
  height: 20px;
}
.checkbox__container {
  display: flex;
  align-items: center;
  gap: 12px;
}
